<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- profile history ::: interface | repository | management -->
    <preference for="SoftCommerce\ProfileHistory\Api\Data\HistoryInterface" type="SoftCommerce\ProfileHistory\Model\History"/>
    <preference for="SoftCommerce\ProfileHistory\Api\Data\HistorySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="SoftCommerce\ProfileHistory\Api\HistoryRepositoryInterface" type="SoftCommerce\ProfileHistory\Model\HistoryRepository"/>
    <preference for="SoftCommerce\ProfileHistory\Api\HistoryManagementInterface" type="SoftCommerce\ProfileHistory\Model\HistoryManagement"/>
</config>
