<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd (formerly Soft Commerce). All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="softcommerce_profile">
            <group id="profile_config" translate="label" type="text" sortOrder="2" showInDefault="1">
                <field id="history_lifetime" translate="label" type="text" sortOrder="3" showInDefault="1">
                    <label>Profile history lifetime</label>
                    <comment>Number of days a profile history should be kept for. Default: 7 days</comment>
                </field>
            </group>
        </section>
    </system>
</config>
